*, *::before, *::after
  box-sizing: border-box

ul[class], ol[class]
  list-style: none
  padding: 0

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd
  margin: 0

input, button, textarea, select
  font: inherit

@use "sass:color"

@mixin theme($color)
  $background-base: scale-color($color, $lightness: -40%, $saturation: -50%)
  --color-background: #{$background-base}
  --color-background-pressed: #{scale-color($background-base, $lightness: +5%, $saturation: +20%)}
  --color-background-active: #{scale-color($background-base, $lightness: -10%)}
  --color-background-disabled: #{scale-color($background-base, $saturation: -50%)}

  $border-base: scale-color($color, $lightness: -30%)
  --color-border: #{$border-base}
  --color-border-pressed: #{scale-color($border-base, $lightness: +5%, $saturation: +20%)}
  --color-border-active: #{scale-color($border-base, $lightness: -10%)}
  --color-border-disabled: #{scale-color($border-base, $saturation: -50%)}

  --color-text: #e0e0e0
  --color-text-disabled: #a0a0a0

.theme-normal
  @include theme(#00a000)

.theme-corners
  @include theme(#00a080)

.theme-centers
  @include theme(#0080e0)

\:root
  --square-gap: 1px
  --box-gap: 3px
  --square-size: 4rem
  --button-hue: 120
  @include theme(#d0d020)
  --font-serif: "Literata", serif
  --font-sans: "Inter", sans-serif
  --font-hint: "Inconsolata", monospace

body
  background-color: #232730
  color: #d1d2d0
  font-family: var(--font-sans)
  line-height: 1
  min-height: 100vh

.title
  font-family: var(--font-serif)
  margin-top: 0.5em
  text-align: center

#root
  display: flex
  margin-top: 1rem

#root > *
  flex-grow: 1

.board-sizer
  position: relative
  height: 36rem
  width: 36rem
  margin: 0 auto

.board
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  column-gap: var(--box-gap)
  row-gap: var(--box-gap)
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  margin: 1rem

.box
  column-gap: var(--square-gap)
  row-gap: var(--square-gap)
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  user-select: none

.square
  background-color: #30363c
  position: relative
  text-align: center

  & > *
    position: absolute
    height: 100%
    width: 100%

  &.selected
    background-color: mix(#32393c, #00a0e0, 90%)

  .cursor
    border: solid 1px #00a0e0

  .number
    display: flex
    align-items: center
    justify-content: center
    font-family: var(--font-serif)
    font-size: 2.5em
    font-weight: 500

    &.error
      font-style: italic
      font-weight: 300

  .centers,
  .corners
    font-family: var(--font-sans)
    font-size: 1em
    font-weight: 500

  .centers
    display: flex
    align-items: center
    justify-content: center

  .corners
    align-content: space-between
    display: grid
    grid-template-areas: "a b c" "d e f" "g h i"
    grid-template-rows: 1fr 1fr 1fr
    grid-template-columns: 1fr 1fr 1fr
    line-height: calc(var(--square-size) / 3)
