body {
  background-color: #232729;
  color: #d1d2d0;
}

.title {
  text-align: center;
}

.square {
  border: solid 1px #505050;
  text-align: center;
  font-size: 2em;
  line-height: 5rem;
}
.square.selected {
  background-color: #00a0e010;
  border: solid 1px #00a0e0;
}

.box {
  border: solid 2px #606060;
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  user-select: none;
}

.board {
  background-color: #32393c;
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: repeat(3, 15rem);
  height: 45rem;
  width: 45rem;
  margin: auto;
}
